body
{
    background-color: #000000;
    padding: 0px;
}

tab
{
    margin-left: 50px;
}

p
{
    color: #BAFFFF;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
}

a:link { color: #92FC99; }
a:hover { color: #E8FFFF; }
a:visited { color: #00D3D3; }
a:active { color: #01B70D; }

h1
{
    color: #BAFFFF;
    margin: 5px;
    font-family: 'Inconsolata', monospace;
}

ul
{
    color: #BAFFFF;
    font-family: 'Inconsolata', monospace;
}

.left-panel
{
    background-color: #333333;
    float: left;
    /*height: 100%;*/
    width: 20%;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

.name-panel
{
    width: 100%;
    height: 3%;
}

.img-panel
{
    width: 80%;
    height: auto;
    float: top;
    padding: 10%;
    justify-content: center;
}

.profile-pic
{
    max-height: 100%;
    max-width: 100%;
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.social-panel
{
    height: auto;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.social-entry
{
    padding: 2%;
    background: #888888;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 25px;
    float: top;
}

.social-image
{
    height: 24px;
    width: auto;
    display: inline-block;
    float: left;
}

.right-panel
{
    float: left;
    /*height: 100%;*/
    width: 77.5%;
    display: flex;
    justify-content: center;
}

.content-panel
{
    width: 50%;
    padding: 2%;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    background: #FFFFFF33;
}

.skill-panel
{
    width: 100%;
    display: flex;
}

.skill-img-panel
{
    display: block;
    float: left;
}

.skill-img
{
    width: 24px;
    height: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    display: block;
    float: top;
}

.skill-panel-bar
{
    border-radius: 2px;
    width: 4px;
    margin-left: 12px;
    margin-right: 12px;
}

.skill-text-panel
{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

